<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdk">

    <application>
        <activity
            android:name=".ui.pages.ArticleDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.pages.PodcastDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>